fieldset {
	text-align: center;
	border-style: none;
}

label, req, li input, input.submit, ul.errorlist {
	font-family: 'Ubuntu Mono', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

label {
	display: inline-block;
	width: 180px;
	line-height: 25px;
	text-align: right;
	font-size: 18px;
}

fieldset ol {
	margin: 0;
	padding: 0;
}

fieldset li {
	list-style: none;
	padding: 5px;
	margin: 0;
}

req {
	font-size: 20px;
	color: #ff0000;
}

li input {
	width: 300px;
}

input.submit {
	width: 150px;
	height: 40px;
	margin-top: 30px;
}

ul.errorlist {
	color: #ff0000;
	font-size: 15px;
}
